@model IEnumerable<EnglishCards.WebApp.Models.DeckViewModel>

@{
    ViewData["Title"] = "Темы (Decks)";
}

<h1>Темы (Decks)</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить тему</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
